/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

.product-card {
    width: 100%;    
    padding: 25px;
    border-radius: 10px;
    box-sizing: border-box;    
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 14px #f2f2f2;
    height: 469px;
    transition: box-shadow .5s ease, height .3s ease-out .1s;
}

.product-card:hover {
    box-shadow: 0 0 14px -5px #44a6f1;
    height: 541px;
    transition: box-shadow .5s ease, height .3s ease-in;
}

.product-card > .card-header {
    display: flex;    
}

.product-card .favorite-icon {   
    padding: 0; 
    color: #44a6f1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -65px;
    opacity: 0;
    transition: right .5s ease-in .1s, opacity .5s ease-out;    
}

.product-card .favorite-icon:hover {
    color: #2287d0;
}

.product-card .favorite-icon:active {
    color: #4ba6ed;
}

.product-card:hover .favorite-icon {
    right: 0;
    opacity: 1;    
    transition: right .5s ease-out, opacity .5s ease-in .1s;
}

.product-card > a {
    text-decoration: none;
}

.product-card > a,
.product-card > a:visited,
.product-card > a:hover,
.product-card > a:active {
    color: #212121;
}

.product-card > a > .product-image {
    display: flex;
    justify-content: center;    
}

.product-card > a > .product-image > img {
    height: 200px;    
}

.product-card > a > h2 {
    color: #212121;    
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 2px;
    min-height: 51.19px ;
}

.product-card > .laboratory-info {
    color: #929292;
    font-weight: 300;    
}

.product-card > .product-code-and-rating {    
    margin: 25px 0 15px;
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
    gap: 3px 10px;
}

.product-card > .product-code-and-rating > span {
    color: #929292;
    font-weight: 300;        
}

.product-card > .product-code-and-rating > .rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.product-card > .product-code-and-rating > .rating > .rating-stars {
    color: #fcd81d;
}

.product-card > .product-code-and-rating > .rating > span {
    color: #212121;
    font-weight: 300;
}

.product-card .price-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-card .price {
    color: #212121;
    font-size: 1.5rem;
    font-weight: 600;
}

.product-card .old-price {
    font-weight: 300;    
    text-decoration: line-through;
    color: #929292;    
} 

.product-card > .add-to-cart-container {   
    width: fit-content;     
    height: 45px;
    margin: 25px auto 0;  
    border: 1px solid #44a6f1;
    border-radius: 25px;  
    display: flex;
    align-items: center;    
    justify-content: center;  
    opacity: 0;
    transition: opacity .3s ease-out;
}

.product-card:hover .add-to-cart-container {
    opacity: 1;
    transition: opacity .3s ease-in .3s;
}

.product-card > .add-to-cart-container > .quantity {
    color: #212121;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    width: 35px;
    border: none;         
}

.product-card > .add-to-cart-container > .quantity:focus {
    outline: none;
}

.product-card > .add-to-cart-container > .add-to-cart-button {
    height: 100%;
    padding: 0 20px;
    color: #fff;
    background-color: #44a6f1;
    border: none;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
}

.product-card > .add-to-cart-container > .add-to-cart-button:hover {
    background-color: #2287d0;
}

.product-card > .add-to-cart-container > .add-to-cart-button:active {
    background-color: #4ba6ed;    
}

.add-to-cart-button:hover .add-to-cart-container {
    border-color: #2287d0;
    border-width: 5px !important;
}

@media screen and (max-width: 1024.98px) {

    .product-card {
        height: fit-content;
    }

    .product-card:hover {
        box-shadow: 0 0 14px #f2f2f2;
    }

    .product-card:has(a:active) {
        box-shadow: 0 0 14px -5px #44a6f1;        
    }

    .product-card .favorite-icon,
    .product-card > .add-to-cart-container {
        opacity: 1;
    }
    
    .product-card .favorite-icon {
        right: 0;
    }

}