@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

* {
  font-family: 'Noto Sans', sans-serif;  
  font-weight: 400;
  font-size: 1rem;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

@media screen and (max-width: 1700.98px) {

  .container {
    max-width: 1400px;
  }

}

@media screen and (max-width: 1500.98px) {

  .container {
    max-width: 1200px;
  }

}

@media screen and (max-width: 1300.98px) {

  .container {
    max-width: 1000px;
  }

}

@media screen and (max-width: 1100.98px) {

  .container {
    max-width: 800px;
  }

}

@media screen and (max-width: 900.98px) {

  .container {
    max-width: 600px;
  }

}

@media screen and (max-width: 700.98px) {

  .container {
    max-width: 400px;
  }

}

@media screen and (max-width: 500.98px) {

  .container {
    max-width: 300px;
  }

}